#BackToTop {float: left;display:none;color: #eeeeef;margin: 0 5px;padding: 0px 5px;padding-top:8px;text-decoration: none;border: 1px solid #a0a0a1;font: 54px Arial, Helvetica;position:fixed;top:550px;right:10px;background-color: #a0a0a0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

